services:
  ai-chatbot:
    build: ./app
    container_name: ai-chatbot
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    volumes:
      - /home/chatbot/app:/app

  db:
    build: ./db   # Build from the PostgreSQL Dockerfile
    container_name: ai-chatbot-db
    restart: always
    env_file:
      - .env    # Load environment variables
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  streamlit-ui:
    build: ./streamlit_ui
    container_name: chatbot-ui
    env_file:
      - .env
    ports:
      - "8501:8501"
    depends_on:
      - ai-chatbot
    restart: always

volumes:
  postgres_data:
