services:
  chatbot:
    build: ./app
    container_name: ai-chatbot
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    volumes:
      - ./app:/app

  webapp:
    build: ./webapp
    container_name: web_app
    restart: always
    env_file:
      - .env
    # volumes:
    #   - ./webapp:/var/www/html
    command: ["php-fpm"]
    ports:
      - "9000:9000"

  db:
    image: ankane/pgvector:latest  
    container_name: ai-chatbot-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro  
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    depends_on:
      - webapp
    ports:
      - "80:80"
    volumes:
      - ./webapp:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

 
volumes:
  postgres_data:
